#app {
    background: #333;
}
#generate-wrapper {
    background: #333;
}
#image-wrapper {

}
#manipulate-wrapper {
    background: #333;
}

body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 70%;
  text-align: center;
}
label {
  margin: 0 5px 0 20px;
}
input {
  width: 60px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //height: 400px;
    //width: 400px;
}